# Lab 07 - Bài tập

## Luyện tập

### Bài 1

Trong thập niên 80, trọng lượng trung bình của thanh niên là 48 kg. Nay để xác định lại trọng lượng ấy, người ta chọn ngẫu nhiên 100 thanh niên đo trọng lượng trung bình là 50 kg và phương sai mẫu $s^2 = (10 kg)^2$. Thử xem trọng lượng thanh niên hiện nay phải chăng có thay đổi, với mức ý nghĩa là 1%?

   _Đáp án. Trọng lượng thanh niên hiện nay không thay đổi so với trước kia._

Tóm tắt:
- $\mu_0 = 48$
- $n = 100$
- $\alpha = 0.01$
- $\bar{x} = 50$
- $s = 10$

Bước 1: $$H_0: \mu = 48$$
$$H_a: \mu \ne 48$$

Bước 2: Mức ý nghĩa $\alpha = 0.01$

Bước 3: $$t_0 = \frac{\bar{x} - \mu_0}{\frac{s}{\sqrt{n}}} = 2$$

In [ ]:
(50 - 48) / (10 / (100**0.5))

2.0

Bước 4: Xác định `miền bác bỏ`

$$\{ t: |t| > t^{n-1}_{\alpha/2} \}$$

$$\{ t: |t| > 2.626 \}$$

In [ ]:
import scipy.stats as st
alpha = 0.01
st.t.isf(alpha/2, 100-1).round(4)

2.6264

Bước 5: Đưa ra quyết định về giả thuyết vô hiệu. Rút ra kết luận chung:
- Không bác bỏ giả thuyết $H_0$ (vì trị kiểm định không thuộc miền bác bỏ)
- Trọng lượng thanh niên hiện nay không thay đổi so với trước kia

### Bài 2

Một cửa hàng thực phẩm nhận thấy thời gian vừa qua trung bình một khách hàng mua 25 ngàn đồng thực phẩm trong ngày. Nay cửa hàng chọn ngẫu nhiên 15 khách hàng thấy trung bình một khách hàng mua 24 ngàn đồng trong ngày và phương sai mẫu là $s^2$ =  (2 ngàn đồng $)^2$

   Với mức ý nghĩa là 5%, kiểm định xem có phải sức mua của khách hàng hiện nay thực sự giảm sút hay không. Biết rằng sức mua của khách hàng có phân phối chuẩn.

   _Đáp án. Sức mua của khách hàng hiện nay thực sự giảm sút_

Tóm tắt:
- $\mu_0 = 25$
- $n = 15$
- $\bar{x} = 24$
- $s = 2$
- $\alpha = 0.05$

Bước 1: Xây dựng giả thuyết kiểm định
$$H_0: \mu >= 25$$
$$H_a: \mu < 25$$

Bước 2: Mức ý nghĩa $\alpha = 0.05$

Bước 3: Tính giá trị kiểm định từ mẫu
$$t_0 = \dfrac{\bar{x} - \mu_0}{\dfrac{s}{\sqrt{n}}} \approx -1.936$$

In [ ]:
(24 - 25) / (2 / (15**0.5))

-1.9364916731037087

Bước 4: Xác định `miền bác bỏ`

$$\{ t: |t| > t^{n-1}_{\alpha} \}$$

$$\{ t: |t| > 1.7613 \}$$

In [ ]:
alpha = 0.05
st.t.isf(alpha, 15 - 1).round(4)

1.7613

Bước 5: Đưa ra quyết định về giả thuyết vô hiệu. Rút ra kết luận chung:
- Bác bỏ giả thuyết $H_0$ (vì trị kiểm định thuộc miền bác bỏ)
- Vậy sức mua của khách hàng hiện nay thực sự giảm sút

### Bài 3

Một máy sản suất tự động, lúc đầu tỷ lệ sản phẩm loại A là 20%. Sau khi áp dụng một phương pháp cải tiến sản xuất mới, người ta lấy 40 mẫu, mỗi mẫu gồm 10 sản phẩm đề kiểm tra. Kết quả kiểm tra cho ở bảng sau:

| **Số sản phẩm loại A** |  1   |  2   |  3   |  4   |  5   |  6   |  7   |  8   |  9   |  10  |
| ---------------------- | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: |
| **Số mẫu**             |  2   |  0   |  4   |  6   |  8   |  10  |  4   |  5   |  1   |  0   |

 Với mức ý nghĩa 5%. Hãy cho kết luận về phương pháp sản suất này.

 _Đáp án.Phương pháp cải tiến sản xuất mới thay đổi tỉ lệ sản phẩm loại A_

Tóm tắt:
- $p = 20$
- $n = 400$
- $\hat{p} = \dfrac{2 + 12 + 24 + 40 + 60 + 28 + 40 + 9}{400} = 0.5375$
- $\alpha = 0.05$

Bước 1: Xây dựng giả thuyết kiểm định
$$H_0 : p = 0.2$$
$$H_a : p \ne 0.2$$

Kiểm tra điều kiện thực hiện kiểm định:
- $n*p_0 \ge 5$ và $n * (1 - p_0) \ge 5$ thỏa

Bước 2: Mức ý nghĩa $\alpha = 0.05$

Bước 3: Tính trị kiểm định
$$z_0 = \frac{\hat{p} - p_0}{\sqrt{\frac{p_0*(1 - p_0)}{n}}} \approx 16.875$$

In [ ]:
(0.5375 - 0.2) / ((0.2 * 0.8) / 400)**0.5

16.874999999999996

Bước 4: Xác định `miền bác bỏ`

$$\{ z : |z| > z_{\alpha / 2} \} $$

$$\{ z : |z| > 1.96 \} $$

In [ ]:
alpha = 0.05
st.norm.isf(alpha / 2)

1.9599639845400545

Bước 5: Đưa ra quyết định về giả thuyết vô hiệu. Rút ra kết luận chung:
- Bác bỏ giả thuyết $H_0$ (vì trị kiểm định thuộc miền bác bỏ)
- Phương pháp cải tiến sản phảm mới thay đổi tỉ lệ sản phẩm loại A

### Bài 4

Tỷ lệ phế phẩm của một nhà máy trước đây là 5%. Năm nay nhà máy áp dụng một biện pháp kỹ thuật mới. Để nghiên cứu tác dụng của biện pháp kỹ thuật mới, người ta lấy một mẫu gồm 800 sản phẩm để kiểm tra và thấy có 24 phế phẩm.

a. Với α = 0.01. Hãy cho kết luận về biện pháp kỹ thuật mới này?

b. Nếu nhà máy báo cáo tỷ lệ phế phẩm sau khi áp dụng biện pháp kỹ thuật mới là
2% thì có chấp nhận được không? (α = 0.01).

_Đáp án. (a) Biện pháp kĩ thuật mới làm thay đổi tỉ lệ phế phẩm (b) Nhà máy báo cáo tỷ lệ phế phẩm là chấp nhận được._

Tóm tắt:
- $p = 0.05$
- $n = 800$
- $\hat{p} = 24/800 = 0.03$

a)

**Bước 1**: Xây dựng giả thuyết
$$ H_0 : p = 0.05 $$
$$ H_1 : p \ne 0.05 $$

Kiểm tra điều kiện thực hiện kiểm định:
- $np_0 \ge 5$ (thỏa)
- $n(1-p_0) \ge 5$ (thỏa)

**Bước 2**: Mức ý nghĩa $\alpha = 0.01$

**Bước 3**: Tính trị kiểm định
$$ z_0 = \frac{\hat{p} - p_0}{\sqrt{\frac{p_0*(1 - p_0)}{n}}} \approx -2.5955$$

**Bước 4**: Xác định `miền bác bỏ`
$$ \{z : |z| > z_{\alpha / 2}\} $$
$$ \{z : |z| > 2.576 \} $$

**Bước 5**: Đưa ra quyết định về giả thuyết vô hiệu. Rút ra kết luận chung:
- Bác bỏ giả thuyết $H_0$ (vì trị kiểm định thuộc miền bác bỏ)
- Biện pháp kỹ thuật mới làm thay đổi tỉ lệ phế phẩm

b)

**Bước 1**: Xây dựng giả thuyết
$$ H_0 : p = 0.02 $$
$$ H_1 : p \ne 0.02 $$

**Bước 2**: Mức ý nghĩa $\alpha = 0.01$

**Bước 3**: Tính trị kiểm định
$$ z_0 = \frac{\hat{p} - p_0}{\sqrt{\frac{p_0*(1 - p_0)}{n}}} \approx 1.297 $$

**Bước 4**: Xác định `miền bác bỏ`
$$ \{z : |z| > z_{\alpha / 2}\} $$
$$ \{z : |z| > 2.576 \} $$

**Bước 5**: Đưa ra quyết định về giả thuyết vô hiệu. Rút ra kết luận chung:
- Không bác bỏ giả thuyết $H_0$ (vì trị kiểm định không nằm trong miền bác bỏ)
- Nhà máy báo cáo tỷ lệ phế phẩm là chấp nhận được

## Kiểm định đặc trưng tỉ lệ (p)

### Bài 5

Dataset 18 (__M&M__) chứa thông tin trọng lượng và màu sắc của mẫu các viên kẹo của hãng M&M.

Sử dụng mẫu trên bạn hãy kiểm tra phát biểu sau: __"20% kẹo M&M có màu đỏ"__ với mức ý nghĩa là 5%

*Hướng dẫn: tính tỷ lệ các viên kẹo có màu đỏ từ dữ liệu, sử dụng kết quả để kiểm định phát biểu trên*

In [ ]:
import pandas as pd

df = pd.read_excel('18_M_M.xls')
df.head()

     Red  Orange  Yellow  Brown   Blue  Green
0  0.751   0.735   0.883  0.696  0.881  0.925
1  0.841   0.895   0.769  0.876  0.863  0.914
2  0.856   0.865   0.859  0.855  0.775  0.881
3  0.799   0.864   0.784  0.806  0.854  0.865
4  0.966   0.852   0.824  0.840  0.810  0.865

In [ ]:
total_p = sum(df.sum())
p_hat = df.sum()['Red'] / total_p
total_p, p_hat

(85.649, 0.13106983152167567)

In [ ]:
import numpy as np

n = len(df)
p = 0.2

z = (p_hat - p) / np.sqrt(p * (1 - p) / n)

alpha = 0.05
z_0 = st.norm.isf(alpha / 2)

z, z_0

(-0.8954291548405532, 1.9599639845400545)

**Trả lời**: Phát biểu trên thỏa mãn vì z không nằm trong miền bác bỏ

### Bài 6

Dataset 3 (__FRESH15__) chứa thông tin khảo sát những thay đổi về trọng lượng (weight - WT) và chỉ số khối của cơ thể (BMI) của sinh viên năm nhất tại một trường Đại Học. Thời điểm khảo sát là bắt đầu học kỳ (tháng 9 - SEP) và kết thúc học kỳ (tháng 4 - APR), các sinh viên được chọn ngẫu nhiên trong trường.

Sử dụng mẫu trên, hãy kiểm tra phát biểu:__"50% số sinh viên trong trường là nam"__ với mức ý nghĩa 50%

Các thuộc tính trong bộ dữ liệu:
- SEX: Giới tính
- WTSEP: trọng lượng đo vào tháng 9 (mới nhập học)
- WTAPR: trọng lượng đo vào tháng 4 (kết thúc năm học)
- BMISP: BMI tháng 9
- BMIAP: BMI tháng 4

In [ ]:
df = pd.read_excel('03_FRESH15.xls')
df.head()

  SEX  WTSEP  WTAPR  BMISP  BMIAP
0   M     72     59  22.02  18.14
1   M     97     86  19.70  17.44
2   M     74     69  24.09  22.43
3   M     93     88  26.97  25.57
4   F     68     64  21.51  20.10

In [ ]:
n = len(df)
p_hat = df['SEX'].value_counts()['M'] / n
p = 0.5
alpha = 0.5

z = (p_hat - p) / np.sqrt(p * (1 - p) / n)
z_0 = st.norm.isf(alpha / 2)

z, z_0

(-0.36650833306891584, 0.6744897501960817)

**Trả lời**: Phát biểu trên thỏa mãn vì z không nằm trong miền bác bỏ

## Kiểm định đặc trưng kỳ vọng ($\mu$) biết ($\sigma$)

### Bài 7

Dataset 13 __(VOLTAGE)__ liệt kê các mức điện áp được đo tại các hộ gia đình bởi các máy đo khác nhau: tại nhà (HOME), tại máy phát độc lập (Generator), tại trạm phát (UPS).

Công ty cung cấp điện cho vùng này cam kết rằng: __"Mục tiêu cung cấp điện cho mỗi hộ gia đình là 120V"__ . Biết rằng độ lệch chuẩn của tất cả các mức điện áp đo được là 0.24V.

Với mức ý nghĩa 1%. Bạn hãy kiểm tra xem công ty có làm đúng cam kết hay không?

**Bước 1**: Xây dựng giả thuyết
$$ H_0: \mu = 120 $$
$$ H_1: \mu \ne 120 $$

**Bước 2**: Mức ý nghĩa $\alpha = 0.01$

**Bước 3**: Tính trị kiểm định
$$z_0 = \dfrac{\bar{x} - \mu_0}{\dfrac{\sigma}{\sqrt{n}}}$$

**Bước 4**: Xác định `miền bác bỏ`
$$ \{ z: |z| > z_{\alpha / 2} \} $$

**Bước 5**: Đưa ra quyết định về giả thuyết vô hiệu. Kết luận chung

In [ ]:
df = pd.read_excel('13_VOLTAGE.xls')
df.head()

   Day   Home  Generator    UPS
0    1  123.8      124.8  123.1
1    2  123.9      124.3  123.1
2    3  123.9      125.2  123.6
3    4  123.3      124.5  123.6
4    5  123.4      125.1  123.6

In [ ]:
n = len(df)
mu_0 = 120
sigma = 0.24
x_bar = df['Home'].mean()
alpha = 0.01

z_0 = (x_bar - mu_0) / (sigma / np.sqrt(n))
z = st.norm.isf(alpha / 2)

z, z_0

(2.575829303548901, 96.51534941972227)

**Trả lời**: Công ty không làm đúng cam kết cung cấp điện áp 120V

## Kiểm định đặc trưng kỳ vọng ($\mu$) không biết ($\sigma$)

### Bài 8

Dataset 19(__SCREWS__) chứa thông tin khảo sát chiều dài một số đinh ốc được cung cấp bởi công ty Crown Bolt (đơn vị inches)

Trên bao bì của các đinh ốc do công ty sản xuất có ghi chiều dài của các đinh ốc là 3/4 inches. Sử dụng mẫu trên bạn hãy cho biết chiều dài của đinh ốc lấy từ mẫu thu nhận được từ dữ liệu trên có nhất quán với chiều dài ghi trên bao bì hay không? Kiểm định với mức ý nghĩa 5%

**Bước 1**: Xây dựng giả thuyết
$$ H_0: \mu = 0.75 $$
$$ H_1: \mu \ne 0.75 $$

**Bước 2**: Mức ý nghĩa $\alpha = 0.05$

**Bước 3**: Tính trị kiểm định
$$t_0 = \dfrac{\bar{x} - \mu_0}{\dfrac{s}{\sqrt{n}}}$$

**Bước 4**: Xác định `miền bác bỏ`
$$ \{ t: |t| > t^{\alpha/2}_{n-1} \} $$

**Bước 5**: Đưa ra quyết định về giả thuyết vô hiệu. Kết luận chung

In [ ]:
df = pd.read_excel('19_SCREWS.xls', header=None)
df.head()

       0
0  0.757
1  0.723
2  0.754
3  0.737
4  0.757

In [ ]:
alpha = 0.05
mu_0 = 0.75
x_bar = df[0].mean()
s = df[0].std()
n = len(df)

t_0 = (x_bar - mu_0) / (s / np.sqrt(n))
t = st.t.isf(alpha / 2, df=n-1)

t_0, t

(-1.8249114276291665, 2.0095752344892093)

**Trả lời**: Thông tin trên hộp ghi đúng

### Bài 9

Dataset 2 __(BODYTEMP)__ chứa thông tin khảo sát nhiệt độ cơ thể từ một nhóm người vào cùng một thời điểm lúc 12h trưa.

Có một phát biểu nói rằng, nhiệt độ cơ thể người đo lúc 12h trưa trong quần thể này là 98,6°

Dựa vào mẫu trên, bạn hãy cho biết phát biểu trên đúng hay sai ở mức ý nghĩa là 5%.

In [ ]:
df = pd.read_excel('02_BODYTEMP.xls', header=None)
df.head()

      0
0  98.6
1  98.6
2  98.0
3  98.0
4  99.0

In [ ]:
alpha = 0.05
mu_0 = 98.6
s = df[0].std()
x_bar = df[0].mean()
n = len(df)

t_0 = (x_bar - mu_0) / (s / np.sqrt(n))
t = st.t.isf(alpha / 2, df=n-1)

t_0, t

(-6.611455226059064, 1.9828152737371547)

**Trả lời**: Lời phát biểu kia không đúng

### Bài 10

Tìm hiểu z_test, t_test trong python

**Z-test** thường được sử dụng khi kích thước mẫu lớn (n > 30) hoặc khi phương sai của tổng thể được biết. Nó kiểm tra xem trung bình của một mẫu có khác biệt đáng kể so với trung bình của tổng thể hay không.

**Công thức Z-test:**
$$ Z = \frac{\bar{X} - \mu}{\sigma / \sqrt{n}} $$
- $(\bar{X})$: Trung bình mẫu
- $(\mu)$: Trung bình tổng thể
- $(\sigma)$: Độ lệch chuẩn tổng thể
- $(n)$: Kích thước mẫu

**T-test** thường được sử dụng khi kích thước mẫu nhỏ (n ≤ 30) hoặc khi phương sai của tổng thể không được biết. T-test điều chỉnh cho sự không chắc chắn liên quan đến ước lượng phương sai.

**Có ba loại t-test chính:**
- **One-sample t-test**: So sánh trung bình của một mẫu với trung bình tổng thể.
- **Independent two-sample t-test**: So sánh trung bình của hai mẫu độc lập.
- **Paired t-test**: So sánh trung bình của hai mẫu liên kết (cùng một nhóm người được đo hai lần).

**Công thức T-test:**
$$ t = \frac{\bar{X} - \mu}{s / \sqrt{n}} $$
- $(s)$: Độ lệch chuẩn mẫu

---